<?xml version="1.0" encoding="utf-8"?>
<manifest package="cfb.com.dailydevelopment"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".example1.annotation.TestAnnotationActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example2.annotation.TestAnnotationActivity2"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example3.lifecycle.LifeCycleActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example3.lifecycle.NormalActivity"
            android:exported="false"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".example3.lifecycle.DialogActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity android:name=".example4.fragment.UseFragmentActivity"
                  android:exported="false"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".example5.parcable.ParcelableActivity"
                  android:exported="false"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".example7.textchange.TestChangeActivity"
                  android:exported="false"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>